[submodule "நீட்டிப்புகள்"]
	path = நீட்டிப்புகள்
	url = https://github.com/UniThamizh/PortGitExtensions.git
[submodule "அறிவிலி"]
	path = அறிவிலி
	url = https://github.com/UniThamizh/PortGit.git
[submodule "சாளரஒன்றிணை"]
	path = சாளரஒன்றிணை
	url = https://github.com/UniThamizh/PortWinMerge.git
[submodule "சாளரஒன்றிணை32"]
	path = சாளரஒன்றிணை32
	url = https://github.com/247i/WinMerge32.git
[submodule "சாளரஒன்றிணைகை64"]
	path = சாளரஒன்றிணைகை64
	url = https://github.com/247i/WinMergeARM64.git
[submodule "மையதிரைப்பலகம்"]
	path = மையதிரைப்பலகம்
	url = https://github.com/247i/GitHubDesktop
