.net07x64/
.net07x86/
.net08x64/
.net08x86/
.net09x64/
.net09x86/
.net10x64/
.net10x86/
.net11x64/
.net11x86/
7zx64/
7zx86/
7zetc/
7zSDK/
7z/
Azhagi/
Everything/
FileZilla/
Geany/
Git/
GitExt/
IniyaTamil/
MeGit/
NotePadPP/
progit2/
PuTTY/
RelaGit/
ScreenToGif/
SourceGit/
SumatraPDF/
Thonny/
VSCode/
VSCodium/
WinMerge/
WinSCP/